:root {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  font-size: 1em;

  @media(max-width: 800px) {
    font-size: 0.7em;
    width: 300%;

    #left-sidebar, #right-sidebar, > .first_body_wrapper {
      flex-basis: 0;
      flex-grow: 1;
    }
    position: relative;
    left: -200%;
  }
}

//body {
//  font-family: 'Roboto', sans-serif;
//
//  @media(max-width: 800px) {
//    font-size: 0.7em;
//    padding: 0;
//    grid-gap: 0;
//    width: 300%;
//    #left-sidebar, #right-sidebar, > .first_body_wrapper {
//      flex-basis: 0;
//      flex-grow: 1;
//      //width: 100%;
//    }
//    position: relative;
//    left: -100%;
//  }
//  @media(min-width: 800px) {
//    font-size: 1em;
//    padding: 1em;
//    grid-gap: 1em;
//    width: 100%;
//    #left-sidebar, #right-sidebar, > .first_body_wrapper {
//      flex-basis: 0;
//      flex-grow: 1;
//    }
//    > .first_body_wrapper {
//      flex-grow: 2;
//    }
//  }
//
//  overflow-y: scroll;
//  display: flex;
//  flex-direction: row;
//  align-items: flex-start;
//  > .first_body_wrapper {
//    order: 2;
//  }
//  #left-sidebar, #right-sidebar {
//    position: sticky;
//    top: 1px;
//  }
//  #left-sidebar {
//    order: 1;
//    height: calc(100vh - 2em);
//  }
//  #right-sidebar {
//    order: 3;
//    background: red;
//    height: 10px;
//  }
//}

body {
  #left-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .dialog {
      background: #e7e3e3;
      .heading {
        padding: 0.5em;
        font-size: 1.3em;
        color: #e7e3e3;
        background: linear-gradient(to top, #e7e3e3, 2%, #383737);
      }
      #table-of-content {
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        padding-left: 2em;
        margin: 0;
        user-select: none;
        li {
          line-height: 1.5em;
          margin: 0.5em 0;
          a:visited {
            color: #f200ff;
          }
        }
      }
    }
  }
}

@media(min-width: 800px) {
  * {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background: lightgrey;
    }
    &::-webkit-scrollbar-thumb {
      background: grey;
      border-radius: 1em;
      border: 2px solid lightgrey;
      &:hover {
        background: #444343;
      }
    }
  }
}

.bg {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  transition: opacity 500ms;
}
