.svg-icon {
  width: 2em;
  height: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.svg-icon.email {
  background-image: url('/static/img/icons/email.svg');
}

.svg-icon.facebook {
  background-image: url('/static/img/icons/facebook.svg');
}

.svg-icon.github {
  background-image: url('/static/img/icons/github.svg');
}

.svg-icon.twitter {
  background-position: 0 3px;
  background-image: url('/static/img/icons/twitter.svg');
}

.svg-icon.reddit {
  background-image: url('/static/img/icons/reddit.svg')
}

.svg-icon.hn {
  background-image: url('/static/img/icons/hn.svg')
}

.svg-icon.rss {
  background-image: url('/static/img/icons/rss.svg')
}
