.svg-icon.email {
  background-image: url('/static/img/logos/email.svg');
}

.svg-icon.facebook {
  background-image: url('/static/img/logos/facebook.svg');
}

.svg-icon.github {
  background-image: url('/static/img/logos/github.svg');
}

.svg-icon.twitter {
  background-position: 0 3px;
  background-image: url('/static/img/logos/twitter.svg');
}

.svg-icon.reddit {
  background-image: url('/static/img/logos/reddit.svg')
}
